* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	background: #000000;
	font-size: 16px;
}

.wrap {
	margin: auto;
	max-width: 800px;
	width: 90%;
}

.tareas .wrap{
	margin: auto;
	max-width: 1000px;
	width: 90%;
}

.principal {
	background: #d87727;
	border-top: 20px solid #d87727;
	color: #fff;
	padding: 50px 0;
	width: 100%;
}

.principal h1{
	text-align: center;
	color: #212121;
	font-family: fantasy;
}

.principal .formulario {
	color: #212121;
	text-align: center;
}

.principal .formulario input{
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
}

.principal .formulario textarea{
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
}

.principal .formulario .boton {
	background: none;
	border: 1px solid #d87727;
	color: rgb(0, 0, 0);
	display: inline-block;
	font-size: 16px;
	padding: 15px;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 5px;
	font-weight: bold;
}

/* - Tareas - */

.tabla{
	color: white;
	text-align: center;
}

.tabla th{
	width: 250px;
	color: black;
	background-color: #e77110; 
    font-weight: bold;
}

.completado{
	background-color: red;
	color: #000000;
	display: inline-block;
	font-size: 15px;
	padding: 10px;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 5px;
	font-weight: bold;
}

.entrega{
	background-color: #ffff00;
	color: #000000;
	display: inline-block;
	font-size: 15px;
	padding: 10px;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 5px;
	font-weight: bold;
}